/* RED LED #99120C rgba(153, 18, 12, 0.8); */

body {
	animation: fadeout 2s;
}
body header.masthead{
	margin-bottom: 0px;
}
body header.masthead .post-heading{
	padding-bottom: 20px;
}
@keyframes fadeout {
  100% {
    background-color: #FFF;
  }
  0% {
    background-color: #99120C;
  }
}

p, span {
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
	margin: 25px 0px 5px 0px;
}
/* Layout Fixes */
footer ul.list-inline {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
footer .list-inline-item:not(:last-child) {
    margin-right: 5rem;
}
.block-true div.le-text {
	background-color: rgba(99, 158, 215, 0.2); /* #639ED7;*/
}
.led-show div div.le-text {
	font-size: 23px;
	font-family: Garamond, serif;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.le-text {
	padding: 10px;
	line-height: 1.2em;
}
.block-true{
	border-top: 5px solid rgba(99, 158, 215, 0.7);
	/* border-bottom: 5px solid rgba(99, 158, 215, 0.7); */
}
.block-true .le-meta,
.block-false .le-meta {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 0.9em;
}
.block-false {
	display: none;
}
.block-false .le-meta{
	display: none;
}
.block-true .le-meta {
	display: block;
}
.block-true .le-meta{
	background-color: rgba(99, 158, 215, 0.4);
}
.floating-label-form-group input, .floating-label-form-group textarea {
	background-color: #efefef;
}
span.le {
	background-color: #efefef;
	color: #99120C;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.le-meta p {
	display: inline-block;
	margin: 0px;
}

.btn-led {
    color: #212529;
    background-color: rgba(153, 18, 12, 0.3);
    border-color: rgba(153, 18, 12, 0.4);
}
.le-meta .le-badge{
	text-transform: uppercase;
}
.le-meta .le-badge,
.le-meta .le-counter {
	height: 20px;
	display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
}
.le-meta .br-current-rating {
	font-size: 16px;
	margin-top: -5px;
}
.le-group-rating {
/*	display:none; */
}
form.sensitivity {
	/*background-color: rgba(99, 158, 215, 0.4);*/ /*#00657b;*/
/*	border: 4px solid transparent;*/
}
#sensitivitySlider {
	height: 50px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
#sensitivitySlider:parent(){
	width: 100%;
}
.le-sensitivity-modified{
	color:red;
}
#sensitivitySlider .slider-track {
/*	height: 31px;*/
/*	margin-top: 9px;*/
/*	top: 0%;*/

	border-radius: 0px;
}
#sensitivitySlider .slider-handle {
/*	height: 37px;*/
/*	top:6px;*/
	top: 14px;
	background-color: rgb(0, 133, 161);
}
#sensitivitySlider .slider-selection {
	background: rgba(255, 58, 0, 0.7);
	/* background: rgba(0, 133, 161, 0.4); */
	border-radius: 0px;
}
#sensitivitySlider .slider-track-low {
	background: rgba(255, 58, 0, 0.7);
	border-radius: 0px;
}
#sensitivitySlider .slider-track-high {
	background: rgba(0, 133, 161, 0.4);
	border-radius: 0px;
}
.data-container{
	display:none;
}
.le-invisible {
	display:none;
}
footer{
	background-color: #ddd;
}
article{
	margin-bottom: 1em;
}
.le-sensitivity-label {
	width: 70px;
    display: inline-block;
}

form.sensitivity button.le-sensitivity-more {
	border-radius: 0rem;
}
form.sensitivity button.le-sensitivity-less {
	border-radius: 0rem;
}
div.br-widget a i {
    margin-top: 5px;
}