<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (c) 2013. Knowledge Media Institute - The Open University 
	~ ~ Licensed under the Apache License, Version 2.0 (the "License"); ~ you 
	may not use this file except in compliance with the License. ~ You may obtain 
	a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 ~ 
	~ Unless required by applicable law or agreed to in writing, software ~ distributed 
	under the License is distributed on an "AS IS" BASIS, ~ WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. ~ See the License for 
	the specific language governing permissions and ~ limitations under the License. -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- <filter> <filter-name>CORS</filter-name> <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class> 
		<init-param> <param-name>cors.allowOrigin</param-name> <param-value>*</param-value> 
		</init-param> <init-param> <param-name>cors.supportedMethods</param-name> 
		<param-value>GET, POST, HEAD, PUT, DELETE, PATCH, OPTIONS</param-value> </init-param> 
		<init-param> <param-name>cors.supportedHeaders</param-name> <param-value>Accept, 
		Origin, X-Requested-With, Content-Type, Last-Modified</param-value> </init-param> 
		<init-param> <param-name>cors.exposedHeaders</param-name> <param-value>Set-Cookie</param-value> 
		</init-param> <init-param> <param-name>cors.supportsCredentials</param-name> 
		<param-value>true</param-value> </init-param> </filter> <filter-mapping> 
		<filter-name>CORS</filter-name> <url-pattern>/*</url-pattern> </filter-mapping> -->
	<servlet>
		<servlet-name>LEDAPP</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>led.discovery.app.Application</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.wadl.disableWadl</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LEDAPP</servlet-name>
		<url-pattern>/findler</url-pattern>
		<url-pattern>/findler/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>led.discovery.app.Application</listener-class>
	</listener>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>503</error-code>
		<location>/503.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
</web-app>
